body
{
  margin:0;
  padding: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.4vw;
  text-align: center;
}

h1 {
  margin-top: 30vh;
  color: green;
}

div.error-message {
  background-color: rgb(255, 232, 232);
  border: 0.2vh solid red;
  text-align: justify;
  font-weight: bold;
  font-size: 1.7vh;
  display: none;
  color: red;
  max-width: 26vh;
  margin: auto;
}

div.login-form {
  padding-top: 3vh;
  height: 20vw;
  width: 12vw;
  margin: auto;
  clear: both;
  text-align: justify;
}

div.login-form input[type="submit"] {
  margin-left: 2.4vw;
  margin-top: 2.4vh;
  border: 0.2vh solid black;
  height: 5vh;
  width: 12vh;
  font-weight: bold;
  font-size: 1.2vw;
  transition-duration: 0.5s;
  border-radius: 1vw;
}

div.login-form input[type="submit"]:hover {
  margin-left: 2.4vw;
  margin-top: 2.4vh;
  border: 0.2vh solid black;
  height: 5vh;
  width: 12vh;
  font-weight: bold;
  font-size: 1.2vw;
  transition-duration: 0.5s;
  background-color: green;
  border-radius: 1vw;
}

div.login-form input[type="text"], input[type="password"] {
  height: 3.4vh;
  width: 20vh;
  font-weight: bold;
}
